includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    # Treats PHPDoc types as certain when true. Set to false for stricter checks.
    treatPhpDocTypesAsCertain: false

    # Directories or files to analyze.
    paths:
        - src/
        - tests/

    # Analysis level: 10 is the strictest.
    level: 10

    # List of ignored error patterns.
    ignoreErrors:
    #    - '#Cannot cast mixed to string.#'

    # Uncomment and customize if you want to exclude specific files or directories.
    # excludePaths:
    #     analyse:
    #         - %currentWorkingDirectory%/path/to/exclude/*

    # Enable optional services or rulesets if needed.
    # Check the PHPStan documentation for available extensions.
